@import "../../../styles/mixins";

  .title{
    display: flex;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: center;
  }
  .closeCard{
    width: 5%;
  }
.titleContainer{
  display: flex;
  flex-direction: row;
}

.close{
  width: 5%;
  min-width: 5%;
  margin-top: 10px;
  background: transparent !important;
  border: none !important;
}